$spectral: "Spectral", "serif";

$fs-xl: 4rem;
$fs-l: 3.5rem;
$fs-m: 2rem;
$fs-a: 1rem;
$fs-a-nav: 1.2rem;
$fs-p: 1rem;

$fs-xl-tablet: 3.5rem;
$fs-l-tablet: 2.8rem;
$fs-a-tablet: 1rem;
$fs-a-nav-tablet: 1rem;
$fs-m-tablet: 2rem;

$fs-xl-mobile: 3rem;
$fs-l-mobile: 2.5rem;
$fs-m-mobile: 1.8rem;
$fs-a-mobile: 1rem;
$fs-a-nav-mobile: 1.2rem;

$line: 3.5rem;

//colors
$bezova: hsl(42, 31%, 94%);
$fialova: #814072;
$fialova-hover: #92417f;
$gray: #86878b;
$tmavsi-bezova: hsl(39, 44%, 67%);
$text-color: hsl(0, 0%, 32%);
$off-black: hsla(0, 0%, 39%, 0.539);
$white: hsl(0, 0%, 100%);

//others
$border-rad: 1.3rem;
